In [1]:
pip  install pandas matplotlib seaborn sklearn

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: matplotlib in c:\users\admin\anaconda3\lib\site-packages (3.5.1)
Requirement already satisfied: seaborn in c:\users\admin\anaconda3\lib\site-packages (0.11.2)
Requirement already satisfied: sklearn in c:\users\admin\anaconda3\lib\site-packages (0.0.post1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: pillow>=6.2.0 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib) (9.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: scipy>=1.0 in c:\users\admin\anaconda3\lib\site-packages (from seaborn) (1.7.3)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [23]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [36]:
data=pd.read_csv('C:/Users/Admin/Desktop/Fish.csv')
data

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [32]:
data.isnull()

     Species  Weight  Length1  Length2  Length3  Height  Width
0      False   False    False    False    False   False  False
1      False   False    False    False    False   False  False
2      False   False    False    False    False   False  False
3      False   False    False    False    False   False  False
4      False   False    False    False    False   False  False
..       ...     ...      ...      ...      ...     ...    ...
154    False   False    False    False    False   False  False
155    False   False    False    False    False   False  False
156    False   False    False    False    False   False  False
157    False   False    False    False    False   False  False
158    False   False    False    False    False   False  False

[159 rows x 7 columns]

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [25]:
X = data.drop(['Species'], axis = 'columns')
y = data.Species
print(X,y)

     Weight  Length1  Length2  Length3   Height   Width
0     242.0     23.2     25.4     30.0  11.5200  4.0200
1     290.0     24.0     26.3     31.2  12.4800  4.3056
2     340.0     23.9     26.5     31.1  12.3778  4.6961
3     363.0     26.3     29.0     33.5  12.7300  4.4555
4     430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...      ...      ...      ...      ...     ...
154    12.2     11.5     12.2     13.4   2.0904  1.3936
155    13.4     11.7     12.4     13.5   2.4300  1.2690
156    12.2     12.1     13.0     13.8   2.2770  1.2558
157    19.7     13.2     14.3     15.2   2.8728  2.0672
158    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 6 columns] 0      Bream
1      Bream
2      Bream
3      Bream
4      Bream
       ...
154    Smelt
155    Smelt
156    Smelt
157    Smelt
158    Smelt
Name: Species, Length: 159, dtype: object

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2)

In [34]:
svm_model_linear = SVC(kernel = 'linear', C = 1)
svm_model_linear.fit(X_train, y_train) # Training the model using fit method

SVC(C=1, kernel='linear')

In [35]:
svm_pred = svm_model_linear.predict(X_test)
svm_pred

array(['Pike', 'Perch', 'Bream', 'Perch', 'Parkki', 'Perch', 'Bream',
       'Perch', 'Perch', 'Parkki', 'Bream', 'Smelt', 'Bream', 'Perch',
       'Roach', 'Perch', 'Bream', 'Bream', 'Bream', 'Roach', 'Perch',
       'Smelt', 'Smelt', 'Whitefish', 'Bream', 'Bream', 'Parkki', 'Perch',
       'Pike', 'Perch', 'Perch', 'Perch'], dtype=object)

In [30]:
accuracy = svm_model_linear.score(X_test, y_test)
accuracy

0.96875