In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [27]:
data=pd.read_csv("C:/Users/Admin/Documents/defaulter.csv")
data

     defaulter student      balance       income
0           No      No   729.526495  44361.62507
1           No     Yes   817.180407  12106.13470
2           No      No  1073.549164  31767.13895
3           No      No   529.250605  35704.49394
4           No      No   785.655883  38463.49588
...        ...     ...          ...          ...
9995        No      No   711.555020  52992.37891
9996        No      No   757.962918  19660.72177
9997        No      No   845.411989  58636.15698
9998        No      No  1569.009053  36669.11236
9999        No     Yes   200.922183  16862.95232

[10000 rows x 4 columns]

In [28]:
from sklearn.preprocessing import MinMaxScaler
#applying MinMaxScaler to the default dataset
scaler = MinMaxScaler()
features_to_scale = ["balance","income"]
scaled_values = scaler.fit_transform(data[features_to_scale])
data["norm_balance"] = scaled_values[:,0]
data["norm_income"] = scaled_values[:,1]
data.head()

  defaulter student      balance       income  norm_balance  norm_income
0        No      No   729.526495  44361.62507      0.274845     0.598905
1        No     Yes   817.180407  12106.13470      0.307868     0.155727
2        No      No  1073.549164  31767.13895      0.404453     0.425862
3        No      No   529.250605  35704.49394      0.199392     0.479959
4        No      No   785.655883  38463.49588      0.295991     0.517867

In [29]:
from sklearn.model_selection import train_test_split
# selecting the predictors and target
X=data[['norm_balance','norm_income']]
Y=data['defaulter']
# splitting data into train and test data set
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=100)

In [30]:
from sklearn.neighbors import KNeighborsClassifier
#kNN with k=3
model = KNeighborsClassifier(n_neighbors=3,metric="euclidean")
model.fit(X_train,Y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=3)

In [31]:
train_accuracy = model.score(X_train,Y_train)
test_accuracy = model.score(X_test,Y_test)
print(train_accuracy,test_accuracy)

0.977375 0.967

In [35]:
train_accuracies = []
test_accuracies = []
# building KNN model for values of k from 1 to 100
k_vals = [i for i in range(1,100)]
features = ["norm_balance","norm_income"]
target = "defaulter"
for k in k_vals:
    model = KNeighborsClassifier(n_neighbors=k,metric='euclidean')
    model.fit(X_train,Y_train)
    train_accuracy_k = model.score(X_train,Y_train)
    test_accuracy_k = model.score(X_test,Y_test)
    train_accuracies.append(train_accuracy_k)
    test_accuracies.append(test_accuracy_k)
plt.plot(k_vals,train_accuracies)
plt.plot(k_vals,test_accuracies)

KeyboardInterrupt: