In [73]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [74]:
df=pd.read_csv('C:/Users/Admin/Desktop/performance.csv')
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,4,0,4
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,2,0,0,0,0,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,0,0,0,0,0,1,0,1
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,0,0,0,0,0,2,0,2
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,0,0,0,0,0,1,0,1
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,0,0,0,0,0,2,0,2
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,0,0,0,0,0,0,0,0

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 18 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   match_id       179078 non-null  int64
 1   inning         179078 non-null  int64
 2   batting_team   179078 non-null  object
 3   bowling_team   179078 non-null  object
 4   over           179078 non-null  int64
 5   ball           179078 non-null  int64
 6   batsman        179078 non-null  object
 7   non_striker    179078 non-null  object
 8   bowler         179078 non-null  object
 9   is_super_over  179078 non-null  int64
 10  wide_runs      179078 non-null  int64
 11  bye_runs       179078 non-null  int64
 12  legbye_runs    179078 non-null  int64
 13  noball_runs    179078 non-null  int64
 14  penalty_runs   179078 non-null  int64
 15  batsman_runs   179078 non-null  int64
 16  extra_runs     179078 non-null  int64
 17  total_runs     179078 non-null  int64
dtypes: int64(13), object(5)
memory usage: 24.6+ MB

In [76]:
df.isnull()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
179074,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
179075,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
179076,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
179077,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [77]:
df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs'],
      dtype='object')

In [78]:
cat_features = ['batting_team','bowling_team','batsman','non_striker','bowler']
df = pd.get_dummies(df,columns=cat_features)
df

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,...,bowler_WPUJC Vaas,bowler_Washington Sundar,bowler_Y Gnaneswara Rao,bowler_Y Nagar,bowler_Y Venugopal Rao,bowler_YA Abdulla,bowler_YK Pathan,bowler_YS Chahal,bowler_Yuvraj Singh,bowler_Z Khan
0,1,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,1,5,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,20,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
179074,11415,2,20,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
179075,11415,2,20,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
179076,11415,2,20,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
179077,11415,2,20,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [79]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(df[['is_super_over','wide_runs','bye_runs','legbye_runs','noball_runs','penalty_runs','batsman_runs','extra_runs','total_runs']]) 

data_normalized = scaler.transform(df[['is_super_over','wide_runs','bye_runs','legbye_runs','noball_runs','penalty_runs','batsman_runs','extra_runs','total_runs']])
data_normalized

array([[-0.02127255, -0.14620706, -0.04237996, ..., -0.7752851 ,
        -0.19568488, -0.81841453],
       [-0.02127255, -0.14620706, -0.04237996, ..., -0.7752851 ,
        -0.19568488, -0.81841453],
       [-0.02127255, -0.14620706, -0.04237996, ...,  1.711866  ,
        -0.19568488,  1.67314971],
       ...,
       [-0.02127255, -0.14620706, -0.04237996, ..., -0.15349733,
        -0.19568488, -0.19552347],
       [-0.02127255, -0.14620706, -0.04237996, ...,  0.46829045,
        -0.19568488,  0.42736759],
       [-0.02127255, -0.14620706, -0.04237996, ..., -0.7752851 ,
        -0.19568488, -0.81841453]])

In [80]:
data_normalized=pd.DataFrame(data_normalized,columns=['is_super_over','wide_runs','bye_runs','legbye_runs','noball_runs','penalty_runs','batsman_runs','extra_runs','total_runs'])
data_normalized=data_normalized.join(df[df.columns.drop(['is_super_over','wide_runs','bye_runs','legbye_runs','noball_runs','penalty_runs','batsman_runs','extra_runs','total_runs'])])
data_normalized

,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,match_id,...,bowler_WPUJC Vaas,bowler_Washington Sundar,bowler_Y Gnaneswara Rao,bowler_Y Nagar,bowler_Y Venugopal Rao,bowler_YA Abdulla,bowler_YK Pathan,bowler_YS Chahal,bowler_Yuvraj Singh,bowler_Z Khan
0,-0.021273,-0.146207,-0.04238,-0.108441,-0.059333,-0.003342,-0.775285,-0.195685,-0.818415,1,...,0,0,0,0,0,0,0,0,0,0
1,-0.021273,-0.146207,-0.04238,-0.108441,-0.059333,-0.003342,-0.775285,-0.195685,-0.818415,1,...,0,0,0,0,0,0,0,0,0,0
2,-0.021273,-0.146207,-0.04238,-0.108441,-0.059333,-0.003342,1.711866,-0.195685,1.673150,1,...,0,0,0,0,0,0,0,0,0,0
3,-0.021273,-0.146207,-0.04238,-0.108441,-0.059333,-0.003342,-0.775285,-0.195685,-0.818415,1,...,0,0,0,0,0,0,0,0,0,0
4,-0.021273,7.816831,-0.04238,-0.108441,-0.059333,-0.003342,-0.775285,5.642845,0.427368,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,-0.021273,-0.146207,-0.04238,-0.108441,-0.059333,-0.003342,-0.153497,-0.195685,-0.195523,11415,...,0,0,0,0,0,0,0,0,0,0
179074,-0.021273,-0.146207,-0.04238,-0.108441,-0.059333,-0.003342,0.468290,-0.195685,0.427368,11415,...,0,0,0,0,0,0,0,0,0,0
179075,-0.021273,-0.146207,-0.04238,-0.108441,-0.059333,-0.003342,-0.153497,-0.195685,-0.195523,11415,...,0,0,0,0,0,0,0,0,0,0
179076,-0.021273,-0.146207,-0.04238,-0.108441,-0.059333,-0.003342,0.468290,-0.195685,0.427368,11415,...,0,0,0,0,0,0,0,0,0,0
179077,-0.021273,-0.146207,-0.04238,-0.108441,-0.059333,-0.003342,-0.775285,-0.195685,-0.818415,11415,...,0,0,0,0,0,0,0,0,0,0

In [81]:
Y = data_normalized['total_runs']
X = data_normalized[data_normalized.columns.drop('total_runs')]
print(X.shape)

(179078, 1474)

In [82]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2, random_state=100)
X_train.shape , X_test.shape

((143262, 1474), (35816, 1474))

In [86]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,Y_train)
train_score=model.score(X_train,Y_train)
test_score=model.score(X_test,Y_test)
print('Train Score (R-Squared): ',train_score)
print('Test Score (R-Squared)',test_score)

Train Score (R-Squared):  1.0
Test Score (R-Squared) 1.0

In [85]:
from sklearn.metrics import mean_squared_error
#root mean square error (RMSE) calculation for train data
train_predictions = model.predict(X_train)
train_RMSE=mean_squared_error(Y_train,train_predictions)**0.5
#root mean square error (RMSE) calculation for test data
test_predictions = model.predict(X_test)
test_RMSE=mean_squared_error(Y_test,test_predictions)**0.5
print('Train RMSE : ',train_RMSE)
print('Test RMSE : ',test_RMSE)

Train RMSE :  2.8814398437521584e-12
Test RMSE :  2.907511718264315e-12