In [45]:
import pandas as pd
import datetime as dt
pivot_data=[{'Name':'john','date':14-6-2021,'sales':11},
                   {'Name':'harris','date':14-6-2021,'sales':37},
                   {'Name':'dan','date':14-6-2021,'sales':85},
                   {'Name':'joe','date':14-6-2021,'sales':63},
                   {'Name':'john','date':13-6-2021,'sales':16},
                   {'Name':'harris','date':13-6-2021,'sales':73},
                   {'Name':'dan','date':13-6-2021,'sales':20},
                   {'Name':'joe','date':13-6-2021,'sales':73},
                   {'Name':'john','date':12-6-2021,'sales':68},
                   {'Name':'harris','date':12-6-2021,'sales':33},
                   {'Name':'dan','date':12-6-2021,'sales':62},
                   {'Name':'joe','date':12-6-2021,'sales':31}]
df=pd.DataFrame(pivot_data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    12 non-null     object
 1   date    12 non-null     int64
 2   sales   12 non-null     int64
dtypes: int64(2), object(1)
memory usage: 416.0+ bytes

In [28]:
df1=df.pivot(index="Name",columns="date",values="sales")
df1

date    -2015  -2014  -2013
Name
dan        62     20     85
harris     33     73     37
joe        31     73     63
john       68     16     11

In [39]:
import pandas as pd
import datetime as dt
df=pd.read_excel('C:/Users/Admin/Downloads/melt_data_1 (1).xlsx')
print(df)

     name  2021-06-12 00:00:00  2021-06-13 00:00:00  2021-06-14 00:00:00
0     Dan                   62                   20                   85
1  Harris                   33                   73                   37
2     Joe                   31                   73                   63
3    John                   68                   16                   11

In [40]:
df1=df.melt(id_vars=["name"])
print(df1)

      name   variable  value
0      Dan 2021-06-12     62
1   Harris 2021-06-12     33
2      Joe 2021-06-12     31
3     John 2021-06-12     68
4      Dan 2021-06-13     20
5   Harris 2021-06-13     73
6      Joe 2021-06-13     73
7     John 2021-06-13     16
8      Dan 2021-06-14     85
9   Harris 2021-06-14     37
10     Joe 2021-06-14     63
11    John 2021-06-14     11

In [41]:
car_price_dict = {'Swift':  700000,
                       'Jazz' :  800000,
                       'Civic' : 1600000,
                       'Altis' : 1800000,
                       'Gallardo': 30000000
                      }
car_price = pd.Series(car_price_dict)
car_price
#Creating a DataFrame from car_price Series
pd.DataFrame(car_price, columns=['Car Price'])

          Car Price
Swift        700000
Jazz         800000
Civic       1600000
Altis       1800000
Gallardo   30000000

In [42]:
car_price_dict = {'Swift':  700000,
                       'Jazz' :  800000,
                       'Civic' : 1600000,
                       'Altis' : 1800000,
                       'Gallardo': 30000000
                      }
car_price = pd.Series(car_price_dict)
car_man_dict = {'Swift' : 'Maruti',
                  'Jazz'   : 'Honda',
                  'Civic'  : 'Honda',
                  'Altis'  : 'Toyota',
                   'Gallardo' : 'Lamborghini'}
car_man = pd.Series(car_man_dict)
cars = pd.DataFrame({'Price': car_price , 'Manufacturer' : car_man})
cars

             Price Manufacturer
Swift       700000       Maruti
Jazz        800000        Honda
Civic      1600000        Honda
Altis      1800000       Toyota
Gallardo  30000000  Lamborghini

In [43]:
car_price_dict = {'Swift':  700000,
                       'Jazz' :  800000,
                       'Civic' : 1600000,
                       'Altis' : 1800000,
                       'Gallardo': 30000000
                      }
car_price = pd.Series(car_price_dict)
car_price

Swift         700000
Jazz          800000
Civic        1600000
Altis        1800000
Gallardo    30000000
dtype: int64

KeyError: 'car'